.button-default {
  color: $blue-color;
  border: 1px solid $blue-color;
  text-transform: uppercase;
  background: #ffffff;
  cursor: pointer;
  @include transition-2;
  @include border-radius(3px);
  &:hover {
    color: #ffffff;
    background: $blue-color;
  }
  &:active, &:focus {
    outline: none;
}
}

.button-cta {
  background: #ecf1f5;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  @include transition-2;
  @include border-radius(3px);
  ion-icon {
    color: #727e88;
  }
  &:hover {
    background: $gray-color;
  }
  &:active, &:focus {
      outline: none;
  }
}

.button-medium {
  padding: 10px 25px;
}

.button-small {
  padding: 10px 15px;
}
