.tabs-container {
  width: 100%;
  margin-top: 15px;
  -webkit-box-shadow: -1px -1px 30px 2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -1px 30px 2px rgba(214, 214, 214, 1);
  box-shadow: -1px -1px 30px 2px rgba(214, 214, 214, 1);
  @include border-radius(3px);
}

#about {
  .multiple-inputs {
    position: fixed;
    background: white;
    border: 2px solid #f4f5f6;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    padding: 20px 25px;
    &__header {
      display: flex;
      flex-flow: row wrap;
      margin: 20px 0 40px;
      div {
        flex: 0 0 50%;
        &:first-of-type {
          @media (max-width: 479px) {
            flex: 0 0 100%;
            text-align: center;
          }
        }
        &:last-of-type {
          text-align: right;
          button {
            &:last-of-type {
              margin-left: 10px;
            }
          }
          @media (max-width: 479px) {
            flex: 0 0 100%;
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }

    .show-message {
      text-align: center;
      color: $blue-color;
    }
  }
}

.tabcontent {
  display: none;
  padding: 20px 25px;
  border-top: none;
  &:first-of-type {
    display: block;
  }
}

.about-content {
  max-width: 325px;
  position: relative;
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    div {
      flex: 0 0 50%;
      &:first-of-type {
        text-align: left;
      }
      &:last-of-type {
        @media (min-width: 767px) {
          display: none;
        }
        text-align: right;
      }
    }
  }
  h3 {
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
  }
  &__editable {
    .editable_wrap {
      background: #f5f8f8;
      padding: 10px;
      margin-bottom: 10px;
      display: block;
      position: relative;
      ion-icon {
        color: #939699;
        font-size: 18px;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }

      p {
        display: inline-block;
      }

      span {
        background: #ecf1f5;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 5px;
        cursor: pointer;
        @include transition-1;
        &:hover {
          background: darken(#ecf1f5, 10%);
        }

        ion-icon {
          color: #727e88;
          position: relative;
          left: 4px;
          top: 10px;
        }
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.popover-active {
  display: block !important;
}

.popover {
  h5 {
    color: $gray-color;
  }
  position: absolute !important;
  background: white !important;
  border: 1px solid #f5f5f5;
  padding: 15px 20px;
  -webkit-box-shadow: 1px 0px 19px -4px rgba(179, 179, 179, 1);
  -moz-box-shadow: 1px 0px 19px -4px rgba(179, 179, 179, 1);
  box-shadow: 1px 0px 19px -4px rgba(179, 179, 179, 1);
  z-index: 99;
  @include border-radius(4px);
  &:after {
    content: "";
    position: absolute;
    left: 100px;
    top: 10px;
    width: 0;
    height: 0;
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -15px;
  }
  div {
    background: #ffffff;
    h5 {
      text-transform: capitalize;
    }
  }

  .popover-buttons {
    margin-top: 20px;
    text-align: left;
    button {
      margin-right: 10px;
    }
  }

  @media(max-width: 767px) {
    display: none!important;
  }
}

.multiple-input-box {
  margin-bottom: 40px;
  input {
    width: 100%;
  }
}

[data-button-change="name"] {
  background: $blue-color;
  color: #ffffff;
}
