.header-wrap {
  width: 100%;
  -webkit-box-shadow: -1px -1px 30px 2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -1px 30px 2px rgba(214, 214, 214, 1);
  box-shadow: -1px -1px 30px 2px rgba(214, 214, 214, 1);
  @include border-radius(3px);

  &__actionButtons {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 2px solid #f4f5f6;
    padding: 20px 35px;
    position: relative;

    div {
      &:first-of-type {
        flex: 0 0 20%;
        text-align: center;
        @media (max-width: 1199px) {
          flex: 0 0 30%;
        }
        @media (max-width: 991px) {
          flex: 0 0 45%;
        }
        @media (max-width: 550px) {
          flex: 0 0 35%;
          text-align: right;
        }
      }

      &:last-of-type {
        flex: 0 0 80%;
        text-align: right;
        @media (max-width: 1199px) {
          flex: 0 0 70%;
        }
        @media (max-width: 991px) {
          flex: 0 0 55%;
        }
        @media (max-width: 550px) {
          flex: 0 0 65%;
          text-align: right;
        }
        button {
          font-weight: bold;
        }
      }
    }
  }

  &__userinformation {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    position: relative;
    height: 225px;
    @media (max-width: 767px) {
      height: auto;
    }
    div {
      &:nth-child(1) {
        flex: 0 0 25%;
        .user-image {
          width: 100%;
          height: 100%;
          background: url("http://www.bojanchurlinov.com/bojan-test-application/profile_image.jpg");
          background-position: 100% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          @media (max-width: 767px) {
            background-position: 50% 50%;
            width: 175px;
            height: 175px;
            margin: 0 auto;
            @include border-radius(50%);
          }
        }
        @media (max-width: 767px) {
          flex: 0 0 100%;
          height: 185px;
          margin: 13px 0 0px;
          border-bottom: 1px solid #f4f5f6;
        }
      }
      &:nth-child(2) {
        flex: 0 0 35%;
        padding: 45px 35px;
        h3 {
          font-weight: 600 !important;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 10px;
          &:nth-child(3) {
            ion-icon {
              left: -3px;
            }
          }
        }
        ion-icon {
          font-size: 21px;
          position: relative;
          left: -5px;
          vertical-align: middle;
          margin-right: 10px;
          color: #939699;
        }
        @media (max-width: 991px) {
          flex: 0 0 40%;
        }
        @media (max-width: 767px) {
          flex: 0 0 50%;
          padding: 25px 25px 15px;
        }
        @media (max-width: 550px) {
          flex: 0 0 100%;
          text-align: left;
        }
      }

      &:nth-child(3) {
        flex: 0 0 40%;
        padding: 45px 35px;
        text-align: right;
        ion-icon {
          margin-right: 5px;
          color: $blue-color;
          font-size: 20px;
        }
        .followers {
          text-align: right;
          padding-right: 0;
          padding-top: 55px;
          cursor: pointer;
          ion-icon {
            position: relative;
            top: 6px;
            margin-right: 10px;
            font-size: 23px;
           
          }
          @media (max-width: 767px) {
            text-align: right;
            padding-left: 0;
          }
          @media (max-width: 550px) {
            flex: 0 0 100%;
            text-align: left;
            padding-top: 25px;
          }
        }
        @media (max-width: 991px) {
          flex: 0 0 35%;
        }
        @media (max-width: 767px) {
          flex: 0 0 50%;
          padding: 10px 25px 15px;
          text-align: right;
        }
        @media (max-width: 550px) {
          flex: 0 0 100%;
          text-align: left;
        }
      }
    }
  }

  &__tabs {
    display: flex;
    flex-flow: row wrap;

    div {
      &:nth-child(1) {
        flex: 0 0 100%;
      }

      &:nth-child(2) {
        flex: 0 0 30%;
        text-align: right;
        padding: 0 35px;
        p {
          margin-top: 20px;
          flex: 0 0 30%;
          cursor: pointer;
          ion-icon {
            margin-right: 15px;
            font-size: 25px;
            vertical-align: middle;
            position: relative;
            top: -2px;
            color: #939699;
          }
        }
      }
    }
  }
}

.tab {
  overflow: hidden;
  background-color: #ffffff;
  border-top: 2px solid #f4f5f6;
  padding-bottom: 0;
  flex: 0 0 70%;
  height: 100%;
  ul {
    li {
      background-color: inherit;
      float: left;
      outline: none;
      cursor: pointer;
      padding: 20px 25px;
      transition: 0.3s;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: 3px solid white;
      @media (max-width: 479px) {
        width: 33.333%;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.tab-active {
  border-bottom: 3px solid $blue-color !important;
}

.file-upload__label {
  display: block;
  text-align: center;
  padding: 5px 10px;
  background: transparent;
  color: $gray-color;
  border: 1px solid $gray-color;
  @include transition-2;
  @include border-radius(3px);

  @media (max-width: 550px) {
    text-align: center;
    span {
      display: none;
    }
    ion-icon {
      margin-right: 0 !important;
    }
  }

  ion-icon {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $blue-color;
    color: $blue-color;
  }
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
