* {
  padding: 0;
  margin: 0;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 1.2em;
  color: $text-color;
}

h2 {
  font-size: 35px;
  line-height: 1.4em;
  color: $text-color;
}

h3 {
  font-size: 21px;
  line-height: 1.3em;
  color: $text-color;
}

h4 {
  font-size: 18px;
  line-height: 1.5em;
  color: $text-color;
}

p {
  font-size: 14px;
  color: $text-color;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a,
a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.text-center {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix:before {
  display: table;
  content: " ";
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
