.stylish-input {
  margin-top: 20px;
  .group {
    position: relative;
  }

  input {
    width: 18.75em;
    border: none;
    border-bottom: 1px solid $gray-color;
    display: block;
    padding: 0.625em 0.625em 0.625em 0.3125em;
  }

  input:focus {
    outline: none;
  }

  label {
    position: absolute;
    text-transform: capitalize;
    top: 0.2em;
    left: 0.3125em;
    font-size: 13px;
    font-family: arial;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    left: -2px;
    font-size: 11px;
    color: $blue-color;
  }

  .bar {
    position: relative;
    background: none;
    display: block;
    padding: 0;
  }

  .bar:before,
  .bar:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 1px;
    background: $blue-color;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }
}

/* Animations */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeOut {
  animation-name: fadeOut;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

