@import 'variables';
@import 'resets';
@import 'mixins';
@import 'buttons';
@import 'reusable';
@import 'header';
@import 'content';

#root {
  background: #f5f8f9;
}

#wrapper {
  background: #ffffff;
  padding: 75px 20px;
  @media(max-width: 767px) {
    padding: 30px 15px;
  }
}